/* whole app */

h2 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: "Gotham", sans-serif;
}

p {
    color: black;
    font-family: "Gotham", sans-serif;
}

a {
  color: black;
}
.statusbar-overlay {
    background: white;
}

.page-content {
    text-align: center;
    background: white;
}

#show_later {
    display: none;
}

/* input page */

#what_dob {
  font-size: 20px;
}

#submit {
  background-color: #f5e85e99;
  margin-top: 10px;
  font-size: 22px; 
  width: 100%;
}

#days_old_datepicker {
  border: 2px solid black;
  font-size: 16px;
}

.button {
  color: black;
  background-color: #d9d9d9;
  border: 2px solid black;
  border-radius: 0px;
  font-family: "Gotham", sans-serif;
}

/* outputs page */

.you_will_be {
  font-size: 20px;
  margin-top: -5px;
}

#today_you_are {
  font-size: 26px;
  margin-top: -10px;
  margin-bottom: -5px;
}

#days_old_output {
    line-height: 90%;
    font-size: 42px;
    font-weight: bold;
    color: #F55E78;
}

#upcoming_milestones {
    color: #F55E78;
    font-weight: bold;
    font-size: 18px;
    font-family: "Gotham", sans-serif;
}

#big_milestone_output, #small_milestone_output, #small_milestone_date_output, #big_milestone_date_output {
    color: #F55E78;
    font-weight: bold;
}

#reminder {
  color: black;
  background-color: #f5e85e99;
  border: 2px solid black;
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#again {
  font-size: 18px;
  background-color: #f5e85e99;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  font-size: 14px;
  font-family: "Gotham", sans-serif;
}

.footer_link {
    font-size: 14px;
    font-family: "Gotham", sans-serif;
    color: #F55E78;
    text-decoration: underline;
}
