h1 {
  color: #4B4B4D;
  font-size: 60px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

h2 {
  color: #4B4B4D;
  font-size: 40px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

p {
  color: #4B4B4D;
  font-size: 28px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

button {
  font-size: 40px;
}

#subhead {
  color: #4B4B4D;
  font-size: 25px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.note {
  color: #4B4B4D;
  font-size: 16px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.emphasis {
  color: #4B4B4D;
  font-size: 52px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.fb-share-button {
  text-align: center;
}

/* Background pattern from subtlepatterns.com */

body {
    background-image: url("geometry2.png");
}

