/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-size: 14px;
}

/* style begins */

/*
================================
Customize
================================
*/

body {
  background-image: url("../images/wet_snow.png");
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.container,
.grid {
  margin: 0 auto;
  max-width: 100%
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3,
.col-1-2 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3,
.col-1-2 {
  display: inline-block;
  vertical-align: top;
}
.col-1-3,
.col-2-3,
.col-1-2 {
  width: 100%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  width: 960px;
  max-width: 100%;
  margin: auto
}
.row {
  background: #fff;
  padding: 22px 0 44px 0;
}
.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}



/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #648880;
}
h1, h3, h4, h5, p {
  margin-bottom: 1.2em;
}
h1 {
  font-size: 36px;
  line-height: 44px;

}
h2 {
  font-size: 24px;
  font-weight: 350;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.emphasis,
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}


/*
  ========================================
  Links
  ========================================
*/

a {
  color: #648880;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #648880;

}
.primary-header a:hover,
.primary-footer a:hover {
  color: #a9b2b9;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 20px;
  color: #dddddd;
  cursor: pointer;
}

.btn-default:hover {
  background: #77a198;

}
.btn-alt {
  border: 1px solid #fff;
  font-size:16px;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
  border-color: #648880;
}


/*
  ========================================
  Primary header
  ========================================
*/

.primary-header,
.primary-footer {
  width: 960px;
  max-width: 100%;
}

.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 0px 0;
  text-transform: uppercase;

}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

/*
========================================
Primary footer
========================================
*/

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer small {
  float: right;
  padding-right: 22px;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}


/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: #648880;
  line-height: 44px;
  padding: 22px 80px 44px 80px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}
.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%
}

/*
=============================
Questions
==============================
*/

form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.question label {
  color: #648880;
  cursor: pointer;
  font-size: 22px;
  font-weight: 400;
}
.question input,
.question select,
.question textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}

.question select {
  height: 34px;
  width: 60px;
}
.question textarea {
  height: 78px;
}

.answer-output{
  font-size:22px;
}

.mc-field-group {
  margin-bottom: -40px;
}

/*
==================
responsive stuff
===================
*/

@media screen and (max-width: 550px){
  .logo {
    margin:auto;
  }
}
@media screen and (min-width: 550px) {
  .col-1-3 {
    width: 33%
  }

  .col-2-3 {
    width: 66%
  }

  .col-1-2 {
    width: 50%;
  }
}
